// styl
.watchVideo-component {
  background #000000
  z-index 10000
  position fixed
  bottom 10px
  right 20px
  width 300px
  height 280px
  overflow hidden
  #vevo-player {
    width 300px
    height 200px
  }
  .logo {
    width 100px
    height 22px
    background url(./vevo-header.svg) no-repeat center
  }
  .loading  {
    color #FFF
    font-size 28px
    text-align center
    line-height 200px
    height 200px
  }
  p {
    color #CCC
    font-family sans-serif
    padding 7px
    a {
      text-decoration underline
      color cornflowerblue
      cursor pointer
    }
    a:hover {
      text-decoration none
    }
  }
}
